* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
  }

body {
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  
.logo {
    color: #fff;
    font-size: 2em;
    width: 150px;
    height: 48px;
}


nav a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  
  nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background: rgb(81, 53, 255);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  nav a:hover {
    color: rgb(81, 53, 255);
  }
  
  nav a:hover::after {
    opacity: 1;
  }
  

.play-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #1c1c1c;
    border-radius: 50%;
    border: 2px solid white; /* Add this line */
  }

.play-button:hover{
    background: rgb(81, 53, 255);
    border: rgb(81, 53, 255);
}
  
  
.fa-play {
    justify-content: center;
    color: #fff;
  }
  
  .btncontact{
    width: 150px;
    height: 48px;
    background: rgb(81, 53, 255);
    border: rgb(81, 53, 255);
    border-radius: 2px solid rgb(81, 53, 255);
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
  }
  .btncontact:hover{
  
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 155px inset;
    color: rgb(81, 53, 255);
    border: 4px solid rgb(81, 53, 255);
    overflow: hidden;
  }
.firsthalf{
    background-color: #1c1c1c;
    background-image: url("/image/noise.png");
    padding: 10% 20% 10% 10%;
    color: white; 
}
  .title {
  margin-bottom: 120px; /* Add margin-top to create space above the title */
}

.paragraph{
    font-size: 2em;
    color: #fff;
}

  h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fff;
    font-family: 'MontHeavy';
    font-style: normal;
    font-size: 80px;
    line-height: 105px;
}

.deloitte {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  img {
    background-color:black;
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.5rem rgb(81, 53, 255);
    overflow: hidden;
    width: 200px; /* Adjust the desired width of the image */
    height: 200px;
    transform: translateX(1000px); /* Adjust the distance to move the image to the right */
  }
  
  .rotate-90 {
    font-size: 2em;
    color: #fff;
    position: relative;
    transform: rotate(360deg);
    transform-origin: left top;
    white-space: nowrap;
    writing-mode: vertical-rl;
    top: 200px;
  }
  
  .arrow-down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
  }

  section{
    padding: 20px;
  }

  section .s2{
    color: #fff;
  }
  